:root {
  --color-primary: #5287f3;
  --color-orange: #f7931b;
  --color-ocean: #29f3f3;
  --color-lightGreen: #2bf3a9;
  --color-green: #53f32b;
  --color-yellow: #f0f32b;
  --color-red: #f32b2b;
}
body {
  background: #f3f5f8;
}
.App {
  font-family: sans-serif;
  text-align: center;
  text-align: center;
  width: 80vw;
  margin: 0 auto;
}
.wrapper {
}
header {
  position: fixed;
}
footer {
  bottom: 10px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.item-input {
  width: 100px;
}
.btn {
  position: relative;
  right: 20px;
  margin-right: 10px;
  padding: 0px;
  bottom: 10px;
  width: 5px;
}
.converter {
  width: 650px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box {
  width: 650px;
  background: #5287f3;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}
.bottom {
  display: flex;
}
.bottom input {
  width: 130px;
  height: 40px;
}
.formControl {
  display: flex;
}
.error {
  background: red;
}
